@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    height: 100%;
}

.div-Background {
    background: no-repeat url(../Images/Background/slider\ bg.png);
    background-size: cover;
    background-position: center;
    height: 40vw;
    align-items: center;
}

.div-section1 {
    background: no-repeat url(../Images/Background/MaskGroup.png);
    background-size: cover;
    background-position: center;
    height: 45vw;
    align-items: center;

}

.div-sec {
    display: flex;
    justify-content: space-between;
    padding-inline: 3vw;
}

.div-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5vw 10vw;
}

.div-header-adds {
    display: flex;
}

.icon {
    margin-right: 0.5vw;
    width: 0.8vw;
}

.logo {
    width: 7vw;
}

.headerText {
    font-size: 0.8vw;
}

.hamMenu {
    width: 1.5vw;
}

.car {
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 42vw;
}

.text {
    font-size: 5vw;
    width: fit-content;
    margin-left: 7vw;
    margin-top: 3vw;
    line-height: 5vw;
}

.span {
    color: orange;
}

.span1 {
    font-weight: 700;
}

.text1 {
    font-size: 1.5vw;
    margin-right: 6vw;
    margin-top: 8vw;
}

.orange-button {
    background-color: orange;
    color: white;
    border: none;
    padding: 0.8vw 1.8vw;
    border-radius: 10px;
    font-size: 1vw;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.div-sec1 {
    display: flex;
    justify-content: end;
    margin-right: 16.5vw;
}

.div-sec2 {
    display: flex;
    justify-content: space-between;
    margin-top: 13vw;
    padding-inline: 10vw;
}

.text2 {
    font-size: 2vw;
    font-weight: 500;
}

.text2-1 {
    font-size: 1.2vw;
    font-weight: 600;
}

.div-img {
    height: 16vw;
    width: fit-content;
    background-color: rgb(29, 29, 29);
    width: 100%;
    text-align: center;
}

.text3 {
    font-size: 1.1vw;
    font-weight: 500;
    color: whitesmoke;
    margin-top: 1vw;
}

.img {
    width: 100%;
}

.img1 {
    width: 100%;
}

.div-headersection {
    display: flex;
    width: 100%;
    gap: 0.3vw;
}

.div-img:hover {
    background-color: orange;
}

.img2 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 6vw;
    margin-top: 5vw;
    height: 26vw;
    width: 26vw;
}

.square {
    border: 2px solid orange;
    padding: 10px;
    position: absolute;
    height: 26vw;
    width: 26vw;
    top: 62vw;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 7vw;
    z-index: 0;
}

.div-imgSec {
    display: block !important;
}

.div-section1 {
    display: flex;
    height: fit-content;
    padding-bottom: 5vw;
}

.section1 {
    padding-bottom: 0;
}

h6 {
    font-size: 2vw;
    font-weight: 500;
    margin-left: 8vw;
    margin-top: 4vw;
}

.div-text {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 40vw;
}

.text4 {
    font-size: 0.9vw;
    font-weight: 500;
    color: gray;
}

.line {
    height: 0.2vw;
    width: 6vw;
    background-color: orange;
    border-radius: 20vw;
}

.div-sectionsq {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 3vw 23vw;

}

.img3 {
    height: 8.5vw;
    border-radius: 1vw;
}

.div-metalsquare {
    position: relative;
    display: inline-block;
}

.text5 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: white;
    font-size: 2vw
}

.title1 {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.2vw;
    white-space: nowrap;
}

.button1 {
    font-size: 1.1vw;
    height: 3vw;
    width: 8vw;
    border-radius: 0.5vw;
    border: 2px solid orange;
    color: orange;
    background-color: white;
}

.button1:hover {
    background-color: orange;
    color: white;
}

.div-carSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
}

.headerText1 {
    font-weight: 600;
    font-size: 2vw;
    margin: 0;
}

.div-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: red; */
    gap: 4vw;
}

.button2 {
    font-size: 1vw;
    height: 3vw;
    font-weight: 500;
    border-radius: 0.5vw;
    border: none;
    color: gray;
    background-color: white;
    border: 2px solid white;
    padding-inline: 1vw;
}

.button2:hover {
    font-weight: 500;
    color: orange;
    background-color: white;
    border: 2px solid orange;
}

.div-carSections {
    width: 100%;
    height: fit-content;
}

.div-oneSection {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.08);
    width: fit-content;
    height: fit-content;
    border-radius: 0.6vw;

}

.carImg {
    border-radius: 0.6vw 0.6vw 0vw 0vw;
    width: 100%;

}

.headerText2 {
    font-size: 1.3vw;
    font-weight: 600;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
}

.title2 {
    margin-left: 0.5vw;
    margin-top: 0.5vw;
}

.title3 {
    margin-left: 0.5vw;
    font-size: 1.4vw;
    font-weight: 700;
    color: orange;
    margin-top: 0.2vw;
}

hr {
    margin: 1vw 1vw;
}

.div-iconset {
    display: flex;
    width: 100%;
}

.div-inonscar {
    display: flex;
    white-space: nowrap;
    margin: 1vw 1vw;
}

.button3 {
    font-size: 1.1vw;
    height: 3vw;
    width: 90%;
    border-radius: 0.5vw;
    border: 2px solid orange;
    color: orange;
    background-color: white;
    margin-bottom: 1vw;
}

.button3:hover {
    background-color: orange;
    color: white;
}

.div-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.div-carSections {
    padding: 2vw 4vw 4vw 4vw;
    display: flex;
    justify-content: space-around;
}

.div-oneSection:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6), 0 4px 0px rgba(0, 0, 0, 0.08);
}

.button4 {
    font-size: 1.1vw;
    height: 3.5vw;
    width: 15vw;
    border-radius: 0.5vw;
    border: 2px solid orange;
    color: orange;
    background-color: white;
    margin-bottom: 4vw;
}

.button4:hover {
    background-color: orange;
    color: white;
}

.div-afnTransport {
    position: relative;
    background: url(../Images/Background/Group70.png);
    background-size: cover;
    background-position: center;
    height: 44vw;
    align-items: center;
    display: flex;
    justify-content: center;
}

.afnTransport {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */

}

.img0 {
    width: 75%;
    position: absolute;
    z-index: 2;
    margin-top: 6vw;
}

.headerText3 {
    position: absolute;
    z-index: 1;
    white-space: nowrap;
    font-size: 1.8vw;
    font-weight: 600;
    margin-top: 2vw;
    left: 20%;
}

.div-brands {
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.brands {
    margin-top: 5vw;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-inline: 5vw;
    margin-bottom: 8vw
}

.div-contact {
    background: no-repeat url(../Images/Background/Group72.png);
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 25vw;
    align-items: center;
    display: flex;
}

.button5 {
    font-size: 1vw;
    height: 3vw;
    font-weight: 500;
    border-radius: 0.5vw;
    border: none;
    color: rgb(255, 255, 255);
    background-color: orange;
    padding-inline: 2vw;
}

.button5:hover {
    background-color: rgb(226, 148, 2);
}

.title4 {
    color: white;
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 1vw;
}

.text6 {
    color: rgb(230, 230, 230);
    font-size: 1vw;
    margin-bottom: 1vw;
}

.div-text {
    width: fit-content;
    margin-right: 13vw;
}

.input {
    font-size: 0.8vw;
    border: none;
    background: none;
    color: rgb(230, 230, 230);
    padding-bottom: 0.7vw;
    line-height: 1.5;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.input::placeholder {
    color: rgb(230, 230, 230);
}

.div-input {
    display: flex;
    gap: 3vw;
    margin-bottom: 2vw;
}

.car1 {
    height: 21vw;
}

.div-contact {
    display: flex;
    justify-content: center;
}


/*  */

.div-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vw;
    width: 100%;
}

.cards {
    display: flex;
align-items: center;
    width: 55vw;
    height: 5vw;
    border-radius: 0.5vw;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: height 0.3s;
}

.div-cardConent {
    display: flex;
    width: 100%;
    justify-content: space-between;
    white-space: nowrap;
}

.line1 {
    height: 80%;
    background-color: orange;
    width: 0.3vw;
    border-radius: 0.5vw;
    margin-left: 0.5vw;
}

.text7 {
    font-size: 1.2vw;
    font-weight: 500;
}

.plus {
    font-size: 1.3vw;
    font-weight: 500;
}

.div-cardConent {
    padding-inline: 2vw;
}

.cards {
    margin-top: 3vw;
}

.cards:hover {
    border: 3px solid orange;
}

/* .text8 {
    display: none;
} */

.cards:active {
    height: 20vw;
}

/*  */

.cw-accordion {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 row-gap: 1rem;
 margin-top: 2vw;
}

.cw-accordion__item {
 padding: 1rem 1rem;
 width: 55vw;
 border-radius: 1vw;
 position: relative;
 cursor: pointer;
 box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.2);

}

.cw-accordion__item .cw-label {
 padding-left: 26px;
 font-size: 20px;
 position: relative;
 width: 100%;
 display: inline-block;
 font-size: 15px;
 font-weight: 500;
}

.cw-accordion__item .cw-label:after {
 position: absolute;
 left: 0;
 content: "+";
 font-size: 16px;
 top: 3px;
 border: #000 1px solid;
 width: 16px;
 height: 16px;
 border-radius: 100%;
 line-height: 1.1;
 text-align: center;
}

.cw-accordion__item .cw-label.cw-open:after {
 transform: rotate(45deg);
}

.cw-accordion__item .cw-acordion-cont {
 height: 0px;
 overflow: hidden;
 transition: 0.4s;
 -webkit-transition: 0.4s;
 font-size: 15px;
 padding-left: 25px;
 padding-right: 25px;
}

.cw-accordion__item .cw-acordion-cont ul {
 padding-left: 20px;
}

.cw-accordion__item .cw-acordion-cont ul li {
 margin: 7px 0px;
}

.cw-accordion__item .cw-open + .cw-acordion-cont {
 height: auto;
 padding-top: 15px;
 padding-bottom: 15px;
}

.cw-accordion__item {
    border: 3px solid rgb(255, 255, 255);
}

.cw-accordion__item:hover {
    border: 3px solid orange;
}

.section1 {
    margin-top: 7vw;
}

.h6-1 {
    margin-top: 0;
}

.footer{
    background: no-repeat url(../Images/Background/footer.png);
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    height: 21vw;
    align-items: center;
justify-content: space-between;
    width: 100%;
  padding-top: 4vw;
}

.div-footer {
    display: flex;
    width: 80%;
    justify-content: space-around;
    line-height: 2vw;
    height: fit-content;
  
}

.div-footersec1 {
    color: white;
    font-weight: 400;
font-size: 1vw;
}

.div-footersec1 li::marker{
    color:orange;
}

.orange-button:hover {
    text-decoration: none;
}

.orange-button {
    text-decoration: none;
}

.space {
    margin-left: 0.5vw;
}

.div-descfooter1 {
    align-items: end;
    display: flex;
    font-size: 1vw;
    margin-bottom: 0.3vw;
    color: gray;
    width: 100%;
    height: fit-content;
    justify-content: space-around;
}

.div-Background1 {
    background-color: #282828;
}

.white {
    color: white;
}

.img5 {
    position: relative;
    width: 100%;
    height: 18vw;
}

.div-texttop{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divsectiontop{
    display: flex;
    align-items: center;
    justify-content: center;
}

.squarediv{
    position: absolute;
    display: flex;
    width: 60vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 1vw;
    height: 7vw;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    -ms-border-radius: 1vw;
    -o-border-radius: 1vw;
    padding-inline: 5vw;
}

.textgroup {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.vertical-hr {
    height: 100px;
    border: none;
    border-left: 1px solid rgb(201, 201, 201);
    margin: 0 20px; 
}

.text8 {
    font-weight: 600;
}

.salesection {
    margin-top: 7vw;
}

.nospace {
    margin-top: -3vw;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.text9 {
    color: #000;
    font-size: 1vw;
    text-decoration: none;
}

.orange {
    color: orange;
    font-weight: 500;
}

.choosesection {
    margin-top: 2vw;
    padding-inline: 10vw;
}

.divgroup{
    display: flex;
    width: 100%;
    padding-inline: 10vw;
    gap: 5vw;
    margin-top: 2vw;
}

.divtextsections {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.divcarimage{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.divbutoonflex {
    display: flex;
}

.demo {
    font-size: 1.5vw;
}

.divbutoonflex{
    display: flex;
    gap: 2vw;
}

.demo5 {
    width: 30vw;
}

.carsimg {
    margin-top: 1vw;
    display: flex;
    width: 100%;
    gap: 1vw;

}

.carsimg img {
    flex: 1;
    max-width: 100%;
    height: auto;
    border-radius: 0.5vw;
    -webkit-border-radius: 0.5vw;
    -moz-border-radius: 0.5vw;
    -ms-border-radius: 0.5vw;
    -o-border-radius: 0.5vw;
}

.border {
    border-radius: 0.5vw;
    -webkit-border-radius: 0.5vw;
    -moz-border-radius: 0.5vw;
    -ms-border-radius: 0.5vw;
    -o-border-radius: 0.5vw;
}

.demo8 {
    font-size: 1vw
}

.divbarsec {
    padding-inline: 10vw;
}

table {
    background-color: #ececec;
    width: 100%;
    height: 13vw;
    border-collapse: collapse;
    border-radius: 1vw;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    -ms-border-radius: 1vw;
    -o-border-radius: 1vw;
}
td {
    padding: 8px;
    text-align: center;
}

.textsecstitle {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.div-allsecgroup {
    gap: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon1 {
    font-size: 2vw;
}

.text10 {
    font-size: 1vw;
    font-weight: 500;
}

.gray {
    color: gray;
}

.secgroup3 {
    font-weight: 600;
    margin-top: 3vw;
    margin-bottom: 1vw;
    display: flex;
    gap: 3vw;
    font-size: 1.3vw; padding-inline: 10vw;
}