@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body,
html {
    height: 100%;
}

.div-Background {
    background: no-repeat url(../Images/Background/slider\ bg.png);
    background-size: cover;
    background-position: center;
    height: 40vw;
    align-items: center;
}

.div-section1 {
    background: no-repeat url(../Images/Background/MaskGroup.png);
    background-size: cover;
    background-position: center;
    height: 45vw;
    align-items: center;

}

.div-sec {
    display: flex;
    justify-content: space-between;
    padding-inline: 3vw;
}

.div-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5vw 10vw;
}

.div-header-adds {
    display: flex;
}

.icon {
    margin-right: 0.5vw;
    width: 0.8vw;
}

.logo {
    width: 7vw;
}

.headerText {
    font-size: 0.8vw;
}

.hamMenu {
    width: 1.5vw;
}

.car {
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 42vw;
}

.text {
    font-size: 5vw;
    width: fit-content;
    margin-left: 7vw;
    margin-top: 3vw;
    line-height: 5vw;
}

.span {
    color: orange;
}

.span1 {
    font-weight: 700;
}

.text1 {
    font-size: 1.5vw;
    margin-right: 6vw;
    margin-top: 8vw;
}

.orange-button {
    background-color: orange;
    color: white;
    border: none;
    padding: 0.8vw 1.8vw;
    border-radius: 10px;
    font-size: 1vw;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.div-sec1 {
    display: flex;
    justify-content: end;
    margin-right: 16.5vw;
}

.div-sec2 {
    display: flex;
    justify-content: space-between;
    margin-top: 13vw;
    padding-inline: 10vw;
}

.text2 {
    font-size: 2vw;
    font-weight: 500;
}

.text2-1 {
    font-size: 1.2vw;
    font-weight: 600;
}

.div-img {
    height: 16vw;
    width: fit-content;
    background-color: rgb(29, 29, 29);
    width: 100%;
    text-align: center;
}

.text3 {
    font-size: 1.1vw;
    font-weight: 500;
    color: whitesmoke;
    margin-top: 1vw;
}

.img {
    width: 100%;
}

.img1 {
    width: 100%;
}

.div-headersection {
    display: flex;
    width: 100%;
    gap: 0.3vw;
}

.div-img:hover {
    background-color: orange;
}

.img2 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 6vw;
    margin-top: 5vw;
    height: 26vw;
    width: 26vw;
}

.square {
    border: 2px solid orange;
    padding: 10px;
    position: absolute;
    height: 26vw;
    width: 26vw;
    top: 62vw;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 7vw;
    z-index: 0;
}

.div-imgSec {
    display: block !important;
}

.div-section1 {
    display: flex;
    height: fit-content;
    padding-bottom: 5vw;
}

h6 {
    font-size: 2vw;
    font-weight: 500;
    margin-left: 8vw;
    margin-top: 4vw;
}

.div-text {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 40vw;
}

.text4 {
    font-size: 0.9vw;
    font-weight: 500;
    color: gray;
}

.line {
    height: 0.2vw;
    width: 6vw;
    background-color: orange;
    border-radius: 20vw;
}

.div-sectionsq {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 3vw 23vw;

}

.img3 {
    height: 8.5vw;
    border-radius: 1vw;
}

.div-metalsquare {
    position: relative;
    display: inline-block;
}

.text5 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: white;
    font-size: 2vw
}

.title1 {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.2vw;
    white-space: nowrap;
}

.button1 {
    font-size: 1.1vw;
    height: 3vw;
    width: 8vw;
    border-radius: 0.5vw;
    border: 2px solid orange;
    color: orange;
    background-color: white;
}

.button1:hover {
    background-color: orange;
    color: white;
}

.div-carSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
}

.headerText1 {
    font-weight: 600;
    font-size: 2vw;
    margin: 0;
}

.div-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: red; */
    gap: 4vw;
}

.button2 {
    font-size: 1vw;
    height: 3vw;
    font-weight: 500;
    border-radius: 0.5vw;
    border: none;
    color: gray;
    background-color: white;
    border: 2px solid white;
    padding-inline: 1vw;
}

.button2:hover {
    font-weight: 500;
    color: orange;
    background-color: white;
    border: 2px solid orange;
}

.div-carSections {
    width: 100%;
    height: fit-content;
}

.div-oneSection {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.08);
    width: fit-content;
    height: fit-content;
    border-radius: 0.6vw;

}

.carImg {
    border-radius: 0.6vw 0.6vw 0vw 0vw;
    width: 100%;

}

.headerText2 {
    font-size: 1.3vw;
    font-weight: 600;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
}

.title2 {
    margin-left: 0.5vw;
    margin-top: 0.5vw;
}

.title3 {
    margin-left: 0.5vw;
    font-size: 1.4vw;
    font-weight: 700;
    color: orange;
    margin-top: 0.2vw;
}

hr {
    margin: 1vw 1vw;
}

.div-iconset {
    display: flex;
    width: 100%;
}

.div-inonscar {
    display: flex;
    white-space: nowrap;
    margin: 1vw 1vw;
}

.button3 {
    font-size: 1.1vw;
    height: 3vw;
    width: 90%;
    border-radius: 0.5vw;
    border: 2px solid orange;
    color: orange;
    background-color: white;
    margin-bottom: 1vw;
}

.button3:hover {
    background-color: orange;
    color: white;
}

.div-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.div-carSections {
    padding: 2vw 4vw 4vw 4vw;
    display: flex;
    justify-content: space-around;
}

.div-oneSection:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6), 0 4px 0px rgba(0, 0, 0, 0.08);
}

.button4 {
    font-size: 1.1vw;
    height: 3.5vw;
    width: 15vw;
    border-radius: 0.5vw;
    border: 2px solid orange;
    color: orange;
    background-color: white;
    margin-bottom: 4vw;
}

.button4:hover {
    background-color: orange;
    color: white;
}

.div-afnTransport {
    position: relative;
    background: url(../Images/Background/Group70.png);
    background-size: cover;
    background-position: center;
    height: 44vw;
    align-items: center;
    display: flex;
    justify-content: center;
}

.afnTransport {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */

}

.img0 {
    width: 75%;
    position: absolute;
    z-index: 2;
    margin-top: 6vw;
}

.headerText3 {
    position: absolute;
    z-index: 1;
    white-space: nowrap;
    font-size: 1.8vw;
    font-weight: 600;
    margin-top: 2vw;
    left: 20%;
}

.div-brands {
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.brands {
    margin-top: 5vw;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-inline: 5vw;
    margin-bottom: 8vw
}

.div-contact {
    background: no-repeat url(../Images/Background/Group72.png);
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 25vw;
    align-items: center;
    display: flex;
}

.button5 {
    font-size: 1vw;
    height: 3vw;
    font-weight: 500;
    border-radius: 0.5vw;
    border: none;
    color: rgb(255, 255, 255);
    background-color: orange;
    padding-inline: 2vw;
}

.button5:hover {
    background-color: rgb(226, 148, 2);
}

.title4 {
    color: white;
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 1vw;
}

.text6 {
    color: rgb(230, 230, 230);
    font-size: 1vw;
    margin-bottom: 1vw;
}

.div-text {
    width: fit-content;
    margin-right: 13vw;
}

.input {
    font-size: 0.8vw;
    border: none;
    background: none;
    color: rgb(230, 230, 230);
    padding-bottom: 0.7vw;
    line-height: 1.5;
    border-bottom: 1px solid rgb(230, 230, 230);
}

.input::placeholder {
    color: rgb(230, 230, 230);
}

.div-input {
    display: flex;
    gap: 3vw;
    margin-bottom: 2vw;
}

.car1 {
    height: 21vw;
}

.div-contact {
    display: flex;
    justify-content: center;
}